site_name: Moil Meeting Docs
site_url: https://belajarsiko-bit.github.io/moil-meeting-docs/latest/
repo_url: https://github.com/perseverance-tech-tw/video-conference-using-fisheye
repo_name: Moil Meeting

theme:
  name: material
  custom_dir: overrides
  language: en
  favicon: favicon.ico
  font:
    text: Space Grotesk
    code: JetBrains Mono
  palette:
    - scheme: default
      primary: blue
      accent: amber
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      accent: amber
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  logo: assets/images/ui/moil_meeting_app.png
  features:
    - navigation.top      
    - content.code.copy
    - toc.integrate

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/scroll-animate.js

extra:
  version:
    provider: mike
plugins:
  - search

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - tables

nav:
  - Home: index.md
  - Release Notes: release-notes/index.md
  - Moil Meeting Installation Guide: install/index.md
  - Definition and Overview: definition/index.md
  - Features: features/index.md
  - Modes: modes/index.md
  - Moil Meeting Of Usage: usage/index.md
  - Operations of the Moil Meeting: operations/index.md
